.room-list{
  padding: 20px 0;


  .room-message{
    cursor: pointer;
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
  
    .el-avatar{
      margin-right: 20px;
    }


    .room-name{
      font-size: 14px;
      color: var(--fontColor);
    }

    .last-message{
      margin-top: 4px;
      font-size: 10px;
      color: var(--greyFont);
    }

    .message-time{
      font-size: 10px;
      color: var(--greyFont);
      position: absolute;
      top: 20px;
      bottom: 0;
      right: 20px;
      margin: auto;
    }
  }

  .active{
    background: var(--imBG);
  }



}


