:root {
  /* 背景 */
  --background: #fff;
  --gradualBackground: linear-gradient(
    to right bottom,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  --gradualBlue: linear-gradient(90deg, #23a6d5, #23d5ab);
  --fontColor: #000;
  --borderColor: rgba(0, 0, 0, 0.5);
  --borderHoverColor: hsla(0, 0%, 43.1%, 0.4);
  --themeBackground: orange;
  --gradualRed: linear-gradient(90deg, #ff4b2b, #ff416c);
  --rippleColor: rgba(0, 0, 0, 0.5);
  --toolbarFont: #333;
  --toolbarBackground: #fff;
  --greyFont: #797979;
  --maxGreyFont: #595a5a;
  --commentContent: #f7f9fe;
  --gradientBG: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --transparent: transparent;
  --mask: rgba(0, 0, 0, 0.3);
  --whiteMask: hsla(0, 0%, 100%, 0.3);
  --maxWhiteMask: hsla(0, 0%, 100%, 0.5);
  --miniMask: rgba(0, 0, 0, 0.15);
  --miniWhiteMask: hsla(0, 0%, 100%, 0.15);
  --translucent: rgba(0, 0, 0, 0.5);
  --maxMask: rgba(0, 0, 0, 0.7);
  --white: #fff;
  --maxWhite: #fcfcfc;
  --midWhite: #f3f3f3;
  --red: red;
  --lightRed: #ff4b2b;
  --maxLightRed: #ff416c;
  --orangeRed: #ef794f;
  --azure: #ecf7fe;
  --blue: #03a9f4;
  --messageColor: #cfe7ff;
  --imBG: #edeff3;
  --lowGray: #cacacb;
  --lightGray: #ddd;
  --maxLightGray: #eee;
  --maxMaxLightGray: hsla(0, 0%, 94.9%, 0.5);
  --green: #67c23a;
  --black: #000;
  --lightYellow: #f4e1c0;

  --globalFont: SmileySans;

  --imBackground: url(https://file.poetize.cn/webBackgroundImage/Sara1165978552584813);
}
